{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block title %}
<title>ユーザ登録</title>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>図書登録確認</h1>
    <form action="{{ url_for('book_register_exe') }}" method="post">
        <div class="form-group">
            <label for="title">タイトル：</label><p class="form-control-static">{{ title }}</p>
        </div>
        <div class="form-group">
            <label for="author">著者：</label><p class="form-control-static">{{ author }}</p>
        </div>
        <div class="form-group">
            <label for="publisher">出版社：</label><p class="form-control-static">{{ publisher }}</p>
        </div>
        <div class="form-group">
            <label for="isbn">ISBN：</label><p class="form-control-static">{{ isbn }}</p>
        </div>
        <div class = 'text-center'>
            <button type="submit" class="btn btn-primary">登録</button>
        </div>
    </form>
</div>
{% endblock %}
